/.quarto/
.Rproj.user
.Renviron
.venv
node_module/
.Rhistory

# Don't need to track the html pages after render
_site/

# Data production page has a weirdly large cache
pages/data_production_cache/html
pages/*cache/

# Temp things that don't matter
temp/

# julia things
*.toml

**/*.quarto_ipynb
site_libs/*
