/* css styles */
/* note that other styles are in the custom_theme.scss file*/

body {
    display: flex;
    justify-content: center;
}

.callout-note {
  border-left: 4px solid #154734 !important;
}
