/*-- scss:defaults --*/

/* 
$font-family-sans-serif:      Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
*/

$presentation-font-size-root: 25px;
$body-bg: #fff;
$link-color: #154734;

/*-- scss:rules --*/


